body {
    background-image: url("../media/library.jpg");
    background-size: cover;
}
#content {
    margin: 1rem;
    max-height: 80%;
    max-width: 80%;
}
#container {
    background-color: rgba(248, 248, 255, 0.901);
    padding: 1rem;
    max-height: 80%;
    max-width: 80%;
}
p {
    margin-left: 1rem;
}