html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
}
#list-header {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    justify-content: center;
    padding: .2rem;
    margin-bottom: .2rem;
}
#list-header h2 {
    margin-right: 1rem;
}
#list-container {
    background-color: coral;
    padding: .8rem;
    border-radius: .2rem;
    min-width: 400px;
}
#task-input {
    display: flex;
    align-items: center;
    margin-top: .2rem;
    justify-content: center;
}
li {
    list-style: none;
    background-color: white;
    margin-top: .2rem;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: .4rem;
    padding-right: .4rem;
    max-height: 35px;
    min-height: 35px;
}
li img {
    opacity: 0;
    transition-property: all;
    transition-duration: 200ms;
}
li:hover img {
    opacity: 1;
}
li:hover {
    cursor: pointer;
}
ul {
    margin: 0;
    padding: .2rem;
    background-color: gray;
}
#list-count {
    text-align: center;
}