img {
    height: 200px;
    border: 1px solid white;
}
#buttons {
    margin: 1rem;
    text-align: center;
}
#search-bar {
    margin: 1rem;
    text-align: center;
}
h1 {
    text-align: center;
}
body {
    background-color: burlywood;
}